graph {
    fill-color: white;
}

node {
    size: 10px, 10px;
    shape: circle;
    arrow-shape: arrow;
    fill-color: white;
}

edge {
    fill-mode: dyn-plain;
}

node:clicked {
    fill-color: red;
}